.ap{
  padding: 10px;
}

.application-status {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.application-list {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.application-item {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}
