table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  h3 {
    font-size: x-large;
    text-align: center;
    padding-top: 20px;
}
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
  }
  td.status-cell {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  td a {
    color: blue;
    text-decoration: underline;
  }
  
  td a:hover {
    text-decoration: none;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead th {
    background-color:cornflowerblue;
    color: white;
    text-align: left;
    padding: 12px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  tbody td a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  tbody td a:hover {
    text-decoration: underline;
  }  
  
  button.edit-button, button.save-button, button.cancel-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  display: inline-block; /* Ensures button stays inline */
}

.colomn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
button.colomn-1, button.colomn-2, button.colomn-3 {
  width: 100%;
  padding: 12px;
  cursor: pointer;
}
.colomn button {
  padding: 10px;
  border: none;
  background-color: #cac8c8;
  cursor: pointer;
  margin: 2px;
  font-size: medium;
}

.colomn button.active {
  background-color: #007bff;
  color: white;
}

.colomn button:hover {
  background-color: #0056b3;
  color: white;
}
